$color: #ff6f00;
$deepcolor: #ff4500;

$bgc: #f4f4f4;
$lightbgc: #f9f9f9;

$fc: #333;
$lightfc: #ccc;
$darkfc: #333;

$blue: #3d96ff;

$ff: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;

@mixin arrow($color:#fff,$size:10px) { position: relative; border-top: 2px solid $color; border-right: 2px solid $color; width: $size; height: $size; font-size: 0px; vertical-align: middle; -webkit-transform: rotate(45deg); -webkit-transform-origin: 50% 50%; display: inline-block; }

@mixin border($color:#aaa,$radius:0px) { position: absolute; content: ""; display: block; top: 0; right: -100%; left: 0; bottom: -100%; pointer-events: none; z-index: 1; transform: scale(.5); transform-origin: 0% 0%; border: 1px solid $color; border-radius: $radius; }

@mixin arrow_left($color:#fff,$size:10px) { position: relative; border-top: 2px solid $color; border-right: 2px solid $color; width: $size; height: $size; font-size: 0px; vertical-align: middle; -webkit-transform: rotate(-135deg); display: inline-block; top: -5px; -webkit-transform-origin: 50% 50%; }

@mixin textbox($color:#aaa,$radius:0,$bgc:#fff) {
    position: relative; padding: 1px 5px; overflow: visible; @content;
    &:after{ @include border($color,$radius); background-color: $bgc; }
    >input{ position: relative; z-index: 1; border: 0; height: 100%; width: 100%; display: block; background-color: rgba(0,0,0,0); }
}

@mixin rotate($deg) { -webkit-transform: rotate($deg); transform: rotate($deg); }