.viewport { padding: 20px 0; width: 96%; margin: 0 2%; }

h1 { border-bottom: 1px solid #ddd; font-size: 18pt; margin-bottom: 20px; padding-bottom: 5px; }

.errors { color: #c00; line-height: 20px; text-align: left; }

.layout { margin: 0 auto; width: 960px; overflow: hidden; }
.layout-fp { margin-top: 10px; }

.header { height: 40px; background: url(header.png) no-repeat; width: 100%; position: relative; }
.header .hd { }
.header .ft { }
.header .bd { width: 100%; z-index: 1; height: 100%; position: absolute; }

.gradient, .button, .button, .button-left, .button-right, .button-center { background-color: whiteSmoke; background-image: linear-gradient(top,whiteSmoke,#F1F1F1); }

.gradient-x { -webkit-transition: all 0.218s; -moz-transition: all 0.218s; -o-transition: all 0.218s; transition: all 0.218s; background-color: whiteSmoke; background-image: linear-gradient(right,whiteSmoke,#ffffff); }

.button, .button-left, .button-right, .button-center { display: inline-block; border: 1px solid gainsboro; border: 1px solid rgba(0, 0, 0, 0.1); text-align: center; color: #444; font-size: 12px; font-weight: bold; height: 24px; padding: 0 8px; line-height: 24px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; cursor: pointer; vertical-align: middle; }
.button i, .button-left i, .button-right i { cursor: pointer; }
.button-left { padding: 0px; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; border-right-width: 0px; float: right; }
.button-right { float: right; padding: 0px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.button-center { float: right; padding: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border-right-width: 0px; }
.search { overflow: hidden; padding-bottom: 10px; }
.search select { width: 100px; }
.search select, .search i, .search input, .search .button { vertical-align: middle; margin-bottom: 5px; }
.search i { display: inline-block; padding-left: 10px; }
.form { margin: 25px 20px; }
.form .action { margin-top: 0px; margin-left: 0; text-align: right; }
.form td, .form th { padding: 15px 6px; vertical-align: top; font-size: 14px; color: #333; font-weight: normal; }
.form th i { color: #c00; padding: 2px 0px 0px 6px; }
.form th { text-align: right; padding-top: 20px; }
.form th.vtop { vertical-align: top; }
.form td { position: relative; }
.form input.text, .form input.text_normal, .form input.text_price, .form input.text_number, .form textarea { width: 300px; height: 30px; padding: 0 4px; border: 1px solid #ccc; border-radius: 4px; }
.form input.text_price { width: 90px; }
.form input.text_number { width: 90px; }
.form input.text_normal { width: 150px; }
.form textarea { height: 150px; }
.form .captcha { border-radius: 4px; height: 30px; }
.form select { height: 26px; }

.form .right_tip, .form .error_tip { position: absolute; bottom: -3px; left: 6px; margin: 0; }
.action { margin: 10px 0 10px 10px; }
.action .button { padding: 0px 15px; font-size: 14px; height: 34px; line-height: 34px; margin-left: 4px; }
.ke-container td { padding: 0; }

.sidebar { border-right: 1px solid #bdbdbd; width: 180px; height: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 3; background: #fff; }
.topbar { width: 100%; overflow: hidden; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #EBEBEB; height: 40px; background: white; z-index: 2; position: relative; vertical-align: middle; }
.topbar .toggle { width: 15px; height: 100%; cursor: pointer; position: absolute; top: 0px; right: 0px; background: #fff; }
.topbar .toggle em { display: inline-block; width: 15px; height: 15px; margin-top: 12px; background: url(icons.png) no-repeat -96px -16px; }
.exit em { display: inline-block; width: 15px; height: 15px; margin-top: 4px; background: url(icons.png) no-repeat 0px -176px; }
.homepage em { display: inline-block; width: 15px; height: 15px; margin-top: 4px; background: url(icons.png) no-repeat 0px -113px; }

.dir, .dir_open { height: 20px; overflow: hidden; line-height: 18px; margin: 2px 0px 0px 10px; }
.dir span, .dir_open span, .file a { display: inline-block; height: 15px; margin-left: 2px; cursor: default; }
.dir i, .dir_open i { display: inline-block; width: 15px; height: 15px; background: url(icons.png) no-repeat 0px -94px; }
.file { height: 20px; overflow: hidden; line-height: 18px; margin: 0px 0px 0px 10px; }
.file a { margin-left: 0px; text-decoration: underline; color: #333; cursor: pointer; }
.file a:hover { color: #666; }
.file em { display: inline-block; width: 15px; height: 15px; background: url(icons.png) no-repeat -32px -94px; }
.dir_open { height: auto; }
.dir_open i { background-position-x: -16px; }
.dir i { background-position-x: 0px; }

.search .button { margin-left: 4px; height: 28px; border-radius: 4px; }
.search .text { margin-left: 4px; width: 100px; height: 22px; border-radius: 4px; border: 1px solid #bdbdbd; }
.toolbar { padding: 5px 0px 10px 0px; }
.toolbar .button { margin-right: 5px; margin-bottom: 2px; }
.button.disabled { opacity: 0.5; filter: alpha(opacity:50); cursor: default; }
.button.disabled:hover { color: #333; }
.ico-delete { display: inline-block; width: 12px; height: 12px; background: url(icons.png) no-repeat -98px -131px; vertical-align: middle; margin-right: 2px; }
.ico-add { display: inline-block; width: 12px; height: 12px; background: url(icons.png) no-repeat -34px -131px; vertical-align: middle; margin-right: 2px; overflow: hidden; }
.ico-modify { display: inline-block; width: 12px; height: 12px; background: url(icons.png) no-repeat -66px -116px; vertical-align: middle; margin-right: 2px; }
.ico-view { display: inline-block; width: 12px; height: 12px; background: url(icons.png) no-repeat -113px -116px; vertical-align: middle; margin-right: 2px; }

.table { width: 100%; border: 1px solid #cdcdcd; font-size: 12px; }
.table th { border: 1px solid #cdcdcd; background: #fff url(grid_header.png) repeat-x; height: 25px; padding: 0 10px; vertical-align: middle; text-align: left; }
.table td { border: 1px solid #cdcdcd; vertical-align: middle; text-align: left; padding: 5px 15px; line-height: 20px; }

.datatable { font-size: 12px; border: 1px solid #cdcdcd; }
.datatable th { border: 1px solid #cdcdcd; background: #fff url(grid_header.png) repeat-x; height: 25px; }
.datatable td { border: 1px solid #cdcdcd; }

.grid { font-size: 12px; border-top: 1px solid #cdcdcd; background: #fff url(grid_header.png) repeat-x; margin: 0px auto 0px auto; overflow: hidden; height: auto; width: 100%; border-collapse: collapse; }
.grid_border_r, .grid_header_cont, .grid_body, .grid_child_non, .grid_child_con { clear: both; }
.grid_border_r { background: url(point.png) repeat-y right 0px; }
.grid_body { width: 100%; background: url(point.png) repeat-y left 0px; overflow: hidden; }
.grid_header_cont { width: 100%; height: 25px; border-bottom: 1px solid #cdcdcd; }
.grid_header { background: url(point.png) repeat-y right 0px; width: 100%; height: 25px; line-height: 25px; float: left; color: #333; font-weight: bold; margin: 0; }
.grid_header .sortable { background: url(sort_both.png) no-repeat right 0px; margin: 0px 1px; }
.grid_header .sortable.sort_asc { background: url(sort_asc.png) no-repeat right 0px; margin: 0px 1px; }
.grid_header .sortable.sort_desc { background: url(sort_desc.png) no-repeat right 0px; margin: 0px 1px; }
.grid_header li { overflow: hidden; height: 25px; text-align: left; float: left; background: url(point.png) repeat-y left 0px; }
.grid_header a { height: 27px; cursor: default; display: block; padding: 0px 6px; }
.grid_header a:hover { color: #445055; text-decoration: none; }
.grid_number { background: #f1f1f1; text-indent: 5px; border-top: 1px solid #fff; float: left; }
.grid_row { overflow: hidden; border-bottom: 1px solid #ddd; background: #fff url(point.png) repeat-y right 0px; line-height: 14px; clear: both; float: left; width: 100%; margin: 0; }
.grid_cell { float: left; overflow: hidden; text-align: center; background: url(point.png) repeat-y left 0px; line-height: 20px; overflow: hidden; }
.grid_cell tbody, .grid_cell tr, .grid_cell td { overflow: visible; }
.grid_cell td { padding: 0px 6px; }
.grid_cell_item { height: 100%; overflow: visible; display: block; padding: 3px 5px; line-height: 16px; text-indent: 0px; }
.grid_row a { color: #ac0000; }

.grid_tree_space, .grid_tree, .grid_tree_nochild { height: 100%; vertical-align: middle; cursor: default; line-height: 20px; text-align: center; height: 100%; width: 18px; height: 20px; float: left; font-weight: bold; font-family: Arial; overflow: hidden; }
.grid_tree_space { width: 14px; }
.grid_tree_spread .grid_tree { background: url(btn_spread.png) no-repeat center center; }
.grid_tree_fold .grid_tree { background: url(btn_fold.png) no-repeat center center; }
.grid_tree_nochild { background: url(btn_nochild.png) no-repeat center center; }

.grid_row_cur { background-color: #f9f1f0; }
.grid_cell_err { background-color: #ffcccc; }
.grid_cell_vcenter { display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; display: box; box-orient: horizontal; box-pack: center; box-align: center; box-sizing: border-box; }
.grid_cont .page { border: 1px solid #cdcdcd; border-top: 0px; width: auto; overflow: hidden; _margin-top: -2px; }
.grid_child_con { padding: 5px 10px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; clear: both; overflow: auto; visibility: visible; height: auto; }
.grid_child_con .grid { background: url(grid_child_header.gif) repeat-x; margin-bottom: 5px; }
.grid_child_con .grid_header_cont { height: 23px; margin-bottom: -1px; }
.grid_child_con .grid_header { color: #666; height: 23px; line-height: 23px; }
.grid_child_con .grid_header li { height: 23px; }
.grid_child_con .grid_header a { color: #666; height: 23px; }
.grid_child_con .grid_row_cur { background-color: #DFE8F6; }
.grid_child_non { height: 0px; overflow: hidden; display: none; _display: block; }
.grid_child_non div, .grid_child_non ol, .grid_child_non ul { filter: alpha(opacity:0); }

.grid_spread { background: url(btnPlus.png) no-repeat 6px center; padding-left: 25px; height: 100%; }
.grid_fold { background: url(btnMinus.png) no-repeat 6px center; padding-left: 25px; height: 100%; }
.grid_spread .grid_cell_item { float: left; text-align: left; }
.grid_fold .grid_cell_item { float: left; text-align: left; }

.grid_header .grid_spread { background-position: 6px 6px; }
.grid_header .grid_fold { background-position: 6px 6px; }

.grid_cell_textbox { border: 0px; border-top: 1px solid #adadad; border-left: 1px solid #adadad; width: 100%; background-color: Transparent; font-size: 12px; height: 100%; float: left; overflow: visible; overflow-y: hidden; line-height: 14px; margin: 1px 0px 0px -3px; padding-right: 5px; }

.grid_cont .page { border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }

.page { margin: 0px auto; background: #f1f1f1; text-align: left; line-height: 22px; clear: both; overflow: hidden; width: 100%; position: relative; text-indent: 6px; }
.page a, .page span { margin: 0px 5px; color: #000; float: none; }
.page span { color: #999; font-weight: bold; }
.page div { position: absolute; text-align: right; top: 0px; right: 6px; text-indent: 0px; }

.contextmenu { position: absolute; border: 1px solid #cdcdcd; background: #f1f1f1; top: 0px; left: 0px; visibility: hidden; }
.contextmenu_con { border-top: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #f1f1f1; border-right: 1px solid #f1f1f1; background: #f1f1f1; padding: 1px; }
.contextmenu_con a { padding: 0px 20px 0px 15px; color: #000; line-height: 20px; height: 20px; display: block; }
.contextmenu_con a:hover { background: darkblue; color: #fff; text-decoration: none; }
.contextmenu_con span { display: block; margin: 1px 4px; height: 0px; line-height: 0px; border-top: 1px solid #cdcdcd; border-bottom: 1px solid #fff; }

.error_tip { background: #c00; color: #fff; margin: 0 0 0 5px; padding: 0 5px; }
.right_tip { padding: 0 5px; color: #33CC33; font-family: 宋体; margin: 0 0 0 5px; }
.msg_tip { background: #09f; color: #fff; margin: 0 0 0 5px; padding: 0 5px; }

* html, * html body { _background-image: url(about:blank); _background-attachment: fixed; }
.dialog { border: 1px solid #ddd; background: #fff; position: absolute; }
.dialog_hd { font-weight: bold; border-bottom: 1px solid #ddd; background: #f1f1f1; padding: 0 10px; height: 25px; line-height: 25px; cursor: move; -moz-user-select: none; -webkit-user-select: none; }
.dialog_close { float: right; cursor: pointer; margin: 0 0 0 10px; color: #666; font-family: Arial, Verdana; }
.dialog_content { padding: 10px; overflow-x: visible; }
.dialog_fixed { position: fixed; _position: absolute; _left: expression(document.documentElement.scrollLeft+(document.documentElement.clientWidth-this.offsetWidth)/2); _top: expression(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2); zoom: 1; }
.dialog .action { text-align: right; margin-right: 20px; margin-bottom: 20px; }
.dialog .form { margin-top: 10px; margin-bottom: 15px; }
.dialog .form td { padding: 12px 0; }

.cp_popup__mask { position: absolute; z-index: 2000; top: 0px; left: 0px; right: 0px; bottom: 0px; opacity: 0; display: none; -webkit-transition: all 300ms ease-out 0ms; background: rgba(0,0,0,.5); }
.cp_popup__mask.show { display: block; opacity: 1; }
.cp_popup__container { position: absolute; opacity: 0; top: 50%; left: 50%; width: 80%; -webkit-transform: translate(-50%,-50%) scale(.3,.3); -webkit-transform-origin: 50% 50%; -webkit-transition: all 300ms ease-out 0ms; background: #fff; min-height: 50px; z-index: 2001; border-radius: 6px; }
.cp_popup__container.show{ opacity: 1; -webkit-transform: translate(-50%,-50%) scale(1); }
.cp_popup__title { text-align: center; margin: 10px 10px 0 10px; font-weight: bold; }
.cp_popup__desc { margin: 15px 15px 0 15px; line-height: 20px; }
.cp_popup__action { text-align: center; margin: 15px 15px; display: -webkit-box; }
.cp_popup__action .btn { color: #fff; border: 0px; height: 38px; margin: 0 8px; display: block; -webkit-box-flex: 1; font-size: 14px; }
.cp_popup__action .btn_cancel { background: #9fa7a9; }

.tab { margin: 0px 0 15px 0; border-bottom: 1px solid #ddd; }
.tab a { padding: 6px 15px; background: #ddd; color: #666; display: inline-block; margin: 0px 5px 5px 5px; }
.tab a.curr { background: #64a0de; color: #fff; }

.tip { width: 300px; position: fixed; left: 50%; margin-left: -150px; padding: 15px; font-size: 18px; top: 20%; background: #000; color: #ffffff; text-align: center; z-index: 2003; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(49,60,75,.35); box-shadow: 0 1px 1px rgba(49,60,75,.35); overflow: hidden; -webkit-transition: all 200ms ease-out 0ms; -webkit-transform: scale(0.2,0.2); opacity: .2; word-wrap: break-word; }
.tip-show { -webkit-transform: scale(1,1); opacity: .9; }
.tip-hide { -webkit-transform: scale(0.2,0.2); opacity: .2; }

.menu { width: 150px; position: fixed; top: 0; left: 0; bottom: 0; overflow-y: auto; padding: 20px 15px; font-size: 13px; background: #f2f5f0; }
.menu a { color: #7a7a7a; }
.menu_hd { font-size: 22px; margin-bottom: 10px; color: #333; }
.menu_sub_hd, .menu_sub_hd a { color: #000; text-decoration: underline; }
.menu_sub_hd { margin-bottom: 10px; }
.menu_body { margin-bottom: 10px; }
.menu_bd dt { color: #7a7a7a; padding: 8px 0 6px 0; color: #000; }
.menu_bd dt.curr a { color: #533; text-decoration: underline; font-size: 14px; }
.menu_bd dt a { color: #000; text-decoration: underline; }
.menu_bd dd { padding: 4px 0 4px 5px; font-size: 12px; color: #7a7a7a; }
.menu_bd dd:before { content: '-'; color: #f2f5f0; }
.menu_bd dd.curr a { color: #c00; text-decoration: underline; }
.menu ~ .view { margin-left: 180px; }

.main { min-width: 800px; }